@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bugfast';
    src:  url('../../public/fonts/Bugfast.otf');
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden;
  width: 100vw; */
}
.btn-con-wallet{
  clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}
.diagonal-box {
  transform: skewY(5deg);
}

/* .carousel, .carousel-bg {
  height: 120vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}*/
.carousel {
  box-shadow: inset 0 -18em 6em rgba(0, 0, 0, 0.7);
}
/*
.collection {

  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  margin-top: -110px;
} */
.collection, .gal-map, .archives{
  transform: skewY(5deg);
}
.group, .opensea, .gal-map-content, .archives-content {
  transform: skewY(-5deg);
}

.collection, .gal-map, .archives {
  box-shadow: inset -50em 0 6em rgba(0, 0, 0, 0.7);
}

.capsule {
  clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}

.icon-gray {
  filter: grayscale(100%);
}
.icon-gray:hover {
  filter: none;
}
.char-list::-webkit-scrollbar{
  width: 0 !important;
}

/* @media (max-width: 1024px) {
  .carousel, .carousel-bg{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  .collection {
    margin-top: -50px;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 95%);
  }
}
@media (max-width: 900px) {
  .collection {
    margin-top: -52px;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 95%);
  }
}
@media (max-width: 768px) {
  .collection {
    margin-top: -54px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}
@media (max-width: 453px) {
  .collection {
    margin-top: -75px;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 95%);
  }
}
.char-list {
  transform: skewY(2.5deg);
} */

